/* aqui se puede modificar el estilo de la tarjeta*/
#card-1 {
	display: inline-grid;
	width: 420px;
	left: 50px;
	right: 50px;
	top: 100px;

}

img {

	height: 200px;
	width: 50%;
	display: block;

}
