p.serif {
    font-size: 500%;
    font-family: "OCR A Std", monospace;
    color: black;
    font-weight: bold;
    margin-left: 50px;
}

p.sif {
    font-size: 33px;
    font-family: "OCR A Std", monospace;
    color: black;
    font-weight: bold;
    margin-left: 50px;
}

div {
    margin-top: 50px;
    margin-left: 500px; 
    background-color: lightgrey;
    width: 600px;
    height: 200px;
    border: 25px solid gray;
}
h1 {
    margin-top: 50px;
    margin-left: 400px; 
    background-color: lightgrey;
    width: 800px;
    height: 200px;
    border: 25px solid gray;
}